/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

// Colors
$light-green: #D1D9CE;
$cream: #FDFBF7;
$brown: #6A594E;

// Base document colors
$navbar-bg: $light-green; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $brown; // highlight color when hovering over navbar links
$body-bg: $cream;
$link-color: $light-green;
$body-color: $brown;
